body {
    margin: 0;
    background-color: #fffbf5;
}

a {
    color: #64473a;
}

.container {
    font-family: "Inter";
    max-width: 700px;
    margin: 32px auto;
    padding: 0 24px;
    line-height: 1.5;
    color: #848380;
}

.hero {
    font-weight: 500;
    font-size: 28px;
}

.hero b {
    color: #64473a;
    font-weight: 500;
}

.hero code {
    background-color: #eaeae8;
    font-size: 24px;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 5px;
    font-family: "SF Mono", "Consolas", monospace;
}

@media (min-width: 800px) {
    .locs {
        display: flex;
        margin: 32px -24px;
    }

    .locs > div {
        margin: 0 24px;
    }

    .locs > div:first-of-type {
        width: 60%;
    }

    .locs > div:nth-of-type(2) {
        width: 40%;
    }
}

.locs > div > img {
    width: 100%;
}

div.booked {
    opacity:0.6;
}

a.moreinfo, a.cta {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    margin-top: 24px;
    margin-right: 24px;
}

a.cta {
    background-color: #64473a;
    border-radius: 24px;
    padding: 0 24px;
    margin-top: 24px;
    color: #fff;
    text-decoration: none;
}

a.moreinfo {
    font-weight: 500;
}

a.organizer {
    display: flex;
    align-items: center;
    color: unset;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.1s ease;
    margin-bottom: 24px;
}

a.organizer:hover {
    opacity: 1.0;
}

.organizer h4, .organizer p, .location h4, .location p {
    margin: 0;
}

.organizer p, .location p {
    font-family: "SF Mono", "Consolas", monospace;
    color: #a69e92;
    font-weight: 700;
    font-size: 0.8rem;
}

.organizer img {
    width: 48px;
    height: 48px;
    border-radius: 32px;
    margin-right: 1rem;
}

a.location {
    color: unset;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.2s ease;
}

a.location:hover {
    opacity: 1.0;
}

.location img {
    width: 100%;
    display: block;
    margin: 8px 0 32px 0;
}

p.booked {
    color:#e4371b;
}

h3 {
    color: #64473a;
}

.locs hr {
    margin: 48px 0;
}

ol, ul {
    padding-left: 2ch;
}

li {
    opacity: 1.0;
    transition: opacity 0.1s ease;
    margin-bottom: 12px;
}

li:hover {
    opacity: 0.5;
}

p {
    hyphens: auto;
}

a.homelink {
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.1s ease;
}

a.homelink:hover {
    opacity: 1.0;
}

.logos-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 32px;
    row-gap: 32px;
    align-items: center;
    justify-items: center;
    margin: 32px 0 48px 0;
}

.logos-grid img {
    width: 80%;
}